@model IEnumerable<WebApplication1.Models.MOVIES>
    @{
        ViewBag.Title = "SearchResult";
    }

    <h2>SearchResult</h2>
@*<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MOVIE_NAME)
            </td>
        </tr>
    }
</table>*@

